<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
</head>
<body>
<div id="app">
<!--    <input type="text" id="name" placeholder="你的名字">-->

    <input type="text" v-model="name" placeholder="你的名字">

    <P>你好==》{{name}}</P>
</div>
<script>
    let data = {
        name: "学院君"
    }

    new Vue({
        el:"#app",
        data:data
    });

    // document.querySelector('#name').value = data.name;
</script>

</body>
</html>